<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cafeLikeDislike">
	<insert id="insert" parameterType="cafeLikeDislikeDto">
		INSERT INTO board_cafe_likeDislike
		(num,id,isLike)
		VALUES(#{num},#{id},#{isLike})
	</insert>
	<select id="isClicked" parameterType="cafeLikeDislikeDto" resultType="int">
		SELECT isLike
		FROM board_cafe_likeDislike
		WHERE num=#{num} AND id=#{id}
	</select>
	<select id="totalLike" parameterType="int" resultType="int">
		SELECT NVL(MAX(ROWNUM),0)
		FROM board_cafe_likeDislike
		WHERE num=#{num} AND isLike=1
	</select>
	<select id="totalDislike" parameterType="int" resultType="int">
		SELECT NVL(MAX(ROWNUM),0)
		FROM board_cafe_likeDislike
		WHERE num=#{num} AND isLike=2
	</select>
	<delete id="cancel" parameterType="cafeLikeDislikeDto">
		DELETE FROM board_cafe_likeDislike
		WHERE num=#{num} AND id=#{id}
	</delete>
</mapper>